<div class="p-6">
    <div class="grid grid-cols-4 gap-4">
        <div *ngFor="let item of listSearchHomestay">
            <app-card-homestay [ItemHomestay]="item"
                (emitDetailsDataHomestay)="handleDetails($event)"></app-card-homestay>
        </div>
    </div>
</div>

<!-- overlay-wrapper.component.html -->
<div class="fixed inset-0 bg-black/40 flex justify-end z-50 backdrop-blur-sm" *ngIf="itemHomestay">
    <div class="bg-white w-[1200px] h-full shadow-2xl animate-slideInSlow" (click)="$event.stopPropagation()">
        <app-details-homestay [dataDetails]="itemHomestay"></app-details-homestay>
    </div>
</div>